packages:
  yum:
    postgresql93: []
    postgresql93-devel: []

container_commands:
  00_wsgireplace:
    command: 'cp wsgi.conf ../wsgi.conf'
  01_migrate:    
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createadmin:
    command: "python createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: cinesend/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: cinesend.settings