{% extends 'asset_portal/base_asset_portal.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load url from future %}

{% block title %}Flights{% endblock title %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet"
          href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"/>
    {#<link rel="stylesheet" href="{% static 'css/bootstrap-tables2.css' %}" />#}
{% endblock %}


{% block breadcrumbs %}
    {% breadcrumb "Flight List" "." %}
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>My Flights</h1>
    </div>

        <div class="table-responsive data-tables-responsive">
            {% render_table flights_table %}
        </div>
{% endblock content %}

{% block bootstrap3_extra_script %}
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#flights-table').DataTable({
                "language": {
                    "emptyTable": "You have no flights"
                },
                "order": [],
                "language": {
                    "emptyTable": "You don't have any flights yet.",
                    "info": "Showing _START_ to _END_ of _TOTAL_ flights",
                    "infoEmpty": "Showing 0 to 0 of 0 flights",
                    "infoFiltered": "(filtered from _MAX_ total flights)",
                    "lengthMenu": "Show _MENU_ flights",
                    "zeroRecords": "No matching flights found"
                }
            });
        });
    </script>
{% endblock bootstrap3_extra_script %}