<p><strong>Resolution and Frame Rate</strong></p>

<p>Your picture should not be pillar or letter-boxed. The image should fill the entire frame. HD Content it padded to
    fit a Flat container.</p>

<p>Acceptable source image resolutions include:
    2K Flat (1998×1080) <span style="color: #fb0f3b;">|</span> 2K Scope (2048×858) <span
            style="color: #fb0f3b;">|</span> HD (1920×1080)</p>

<p>Acceptable source frame rates:
    24fps <span style="color: #fb0f3b;">|</span> 23.98fps <span style="color: #fb0f3b;">|</span> 25fps <span
            style="color: #fb0f3b;">|</span> 30fps <span style="color: #fb0f3b;">|</span> 29.97fps</p>

<p><strong>Delivering file based masters</strong></p>

<p>You must ensure that your audio and video are synchronous. While we don’t require any leader, we strongly advise that
    you include a 2-pop at the start of your files.</p>

<p>Files must be delivered on a USB3 or Thunderbolt drive formatted in either HFS, HFS+ or NTFS, and contain ONLY the
    final delivery elements. We cannot guarantee the integrity of the data on your drive, so we strongly advise that you
    do NOT send your only copy.</p>

<p>We will make every effort to return hard drives in their original packaging, however we may need to substitute our
    own packaging if the box you supply does not meet our shipping requirements.</p>

<p><strong>How to ship your media</strong></p>

<p>Please make sure your hard drive or tape is properly packaged for transit. Damaged media will delay the creation of
    your DCP.</p>

<p>Specific addressing detail will be provided to you when you place your order, but here’s our mailing address if you’d
    like to quickly estimate your shipping costs:</p>

<p><em>26 Soho Street Toronto,<br>
    Ontario M5T1Z7 Canada</em></p>

<p><strong>More Questions?</strong></p>

<p>Need some help properly outputting your files? Give us a call and we’d be happy to walk you through the process.</p>

<p><span style="font-size: 30px; color: #fb0f3b; font-weight: bold;">1-888-634-5470</span><br>
    <strong><em>or</em></strong><em> 647-478-8119</em>
</p>

