<p><strong>Option 1: QuickTime Movie File</strong></p>

<p>Accepted codecs:</p>

<p>ProRes4444 <span style="color: #fb0f3b;">|</span> ProRes422 HQ <span style="color: #fb0f3b;">|</span> ProRes422
    <span style="color: #fb0f3b;">|</span> Avid DNxHD</p>

<p></p>

<p>Audio can be embedded in the QuickTime file, or be supplied as discrete mono channels of 24-bit 48 kHz
    uncompressed audio in WAV format.</p>

<p><strong>Option 2: Image Sequence</strong></p>

<p>Accepted image formats:</p>

<p>TIFF <span style="color: #fb0f3b;">|</span> DPX</p>

<p>Images must be placed in a single folder named "Sequence" and should be named sequentially.</p>

<p>Audio must be delivered as discrete mono channels of 24-bit 48 kHz uncompressed audio in WAV format.</p>

<p><strong>Option 3: Tape</strong></p>

<p>Accepted tape formats:</p>

<p>HDCAM <span style="color: #fb0f3b;">|</span> HDCAM-SR <span style="color: #fb0f3b;">|</span> DVCPROHD <span
        style="color: #fb0f3b;">|</span> XDCAM</p>

<p>Audio track assignment must be clearly labeled.</p>

<p>Only advanced 23.98 fps pulldown is accepted.</p>
