{% extends 'asset_portal/base_asset_portal.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load url from future %}

{% block title %}Jobs{% endblock title %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet"
          href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"/>
    {#    <link rel="stylesheet" href="{% static 'css/bootstrap-tables2.css' %}"/>#}
    <style>
        #pay-btn {
            margin: 18px 0;
        }
    </style>
{% endblock %}


{% block breadcrumbs %}
    {% breadcrumb "Job List" '.' %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>My Jobs</h1>
    </div>

    <div class="table-responsive data-tables-responsive">
        {% render_table jobs_table %}
    </div>
    <a href="{% url 'accounting-home' %}" id="pay-btn" class="btn btn-primary pull-right">Pay for your jobs</a>
{% endblock content %}

{% block bootstrap3_extra_script %}
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#jobs-table').DataTable({
                "columnDefs": [
                    {"orderable": false, "targets": [-1, -2]}
                ],
                "order": [],
                "language": {
                    "emptyTable": "You don't have any jobs yet. Why don't you go ahead and request one?",
                    "info": "Showing _START_ to _END_ of _TOTAL_ jobs",
                    "infoEmpty": "Showing 0 to 0 of 0 jobs",
                    "infoFiltered": "(filtered from _MAX_ total jobs)",
                    "lengthMenu": "Show _MENU_ jobs",
                    "zeroRecords": "No matching jobs found"
                }
            });
            $(".table-responsive .table-container").append($("#pay-btn"));
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock bootstrap3_extra_script %}